.container .about {
  width: 320px;
  height: 352px;

  padding-top: 33px;
  padding-left: 45px;
  padding-right: 60px;

  color: $color-white;
  background-color: $bg-darkblue19;
  border-radius: 0 0 25px 25px;

  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 20px 0px;
  background-size: 292px 352px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 920px;
    padding-top: 280px;
    padding-left: 75px;
    padding-right: 75px;
    background-color: $bg-darkblue19;
    border-radius: 0 0 25px 25px;

    background-image: url("../img/about-back-tablet.png");
    background-repeat: no-repeat;
    background-position: 40px 240px;
    background-size: 720px 596px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 750px;

    padding-left: 60px;
    padding-right: 60px;
    padding-top: 75px;

    background-image: url("../img/about-desktop-back.png");
    background-repeat: no-repeat;
    background-position: 60px 74px;
    background-size: 1320px 679px;
  }
}

.about__healine {
  width: 110px;
  color: $color-orange;
  font-size: 24px;

  @media (min-width: $tablet-width) {
    width: 250px;
    font-size: 45px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 71px;
    margin-top: 45px;
  }
}

.about__description {
  width: 210px;
  margin-top: 25px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 335px;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 650px;
    margin-left: 71px;
    margin-top: 60px;
    margin-bottom: 45px;
  }
}

.about__kick {
  flex-wrap: nowrap;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 415px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 71px;
  }
}

.about__link {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    font-size: 24px;

    width: 274px;
    height: 81px;
    border-radius: 15px;

    margin-top: 50px;
    padding-left: 25px;
    padding-top: 22px;

    color: $bg-blue;
    background-color: $bg-yellow-d7;
  }

  @media (min-width: $desktop-width) {
    margin-top: 90px;
    margin-left: 75px;
  }
}

@media (min-width: $tablet-width) {
  .about__link::after {
    content: "";
    position: absolute;

    top: 32px;
    left: 225px;

    width: 10px;
    height: 14px;

    background-image: url("../img/about-arrow-right.png");
    background-repeat: no-repeat;
  }
}
