.container .about {
  width: 320px;
  height: 352px;

  padding: 33px 60px 0 45px;

  color: $color-white;
  background-color: $bg-darkblue19;
  border-radius: 0 0 25px 25px;

  background-position: 20px 0;
  background-repeat: no-repeat;
  background-size: 292px 352px;
  background-image: url("../img/about-mobile@1x.png");

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 920px;

    padding: 280px 75px 0 75px;

    background-size: 720px 596px;
    background-position: 40px 240px;
    background-image: url("../img/about-back-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 750px;

    padding: 75px 60px 0 60px;

    background-size: 1320px 679px;
    background-position: 60px 74px;
    background-image: url("../img/about-desktop-back.png");
  }
}

.about__healine {
  width: 110px;
  font-size: 24px;
  color: $color-orange;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 0;
    font-size: 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 45px 0 0 71px;
  }
}

.about__description {
  width: 210px;
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    width: 335px;
    margin: 50px 0 40px 0;
  }

  @media (min-width: $desktop-width) {
    width: 650px;
    margin: 60px 0 45px 71px;
  }
}

.about__kick {
  flex-wrap: nowrap;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 415px;
    margin: 0 0 0 71px;
  }
}

.about__link {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;

    width: 274px;
    height: 81px;

    margin-top: 50px;
    padding: 22px 0 0 25px;

    font-size: 24px;
    color: $bg-blue;
    border-radius: 15px;
    background-color: $bg-yellow-d7;
  }

  @media (min-width: $desktop-width) {
    margin: 90px 0 0 75px;
  }
}

@media (min-width: $tablet-width) {
  .about__link::after {
    position: absolute;
    content: "";

    width: 10px;
    height: 14px;

    top: 32px;
    left: 225px;

    background-repeat: no-repeat;
    background-image: url("../img/about-arrow-right.png");
  }

  .about__link:active::after {
    opacity: 0.3;
  }
}
