.about-back {
  border-radius: 35px;
  background-color: $bg-darkblue19;
}

.about-countries {
  border-radius: 35px;
  background-color: $bg-grey;
}

.countries-travelmates {
  border-radius: 20px;
  background-color: $bg-darkblue19;

  @media (min-width: $tablet-width) {
    border-radius: 0;
  }
}

.travelmates-rates {
  border-radius: 20px;
  background-color: $bg-grey;
}

.rates-interest {
  border-radius: 20px;
  background-color: $bg-darkblue19;
}

.interest-route {
  border-radius: 20px;
  background-color: $bg-yellow-d7;
}

.gray-background {
  background-color: $bg-grey;
}

.filter-back {
  width: 100%;
  border-radius: 20px;
  background-color: $bg-darkblue1635;
}

.plan-steps {
  border-radius: 25px;
  background-color: $bg-greyf0;
}
