.container {
  width: 320px;
}

.about-countries {
  border-radius: 20px;
  background-color: #edeff6;
}

.countries-travelmates {
  border-radius: 20px;
  background-color: #192144;
}

.travelmates-rates {
  border-radius: 20px;
  background-color: #edeff6;
}

.rates-interest {
  border-radius: 20px;
  background-color: #192144;
}

.interest-route {
  border-radius: 20px;
  background-color: #ffd74b;
}
