.about-countries {
  border-radius: 25px;
  background-color: $bg-grey;
}

.countries-travelmates {
  border-radius: 20px;
  background-color: $bg-darkblue19;

  @media (min-width: $tablet-width) {
    border-radius: 0;
  }
}

.travelmates-rates {
  border-radius: 20px;
  background-color: $bg-grey;
}

.rates-interest {
  border-radius: 20px;
  background-color: $bg-darkblue19;
}

.interest-route {
  border-radius: 20px;
  background-color: $bg-yellow-d7;
}

.gray-background {
  width: 320px;
  background-color: $bg-grey;
}
