.catalog-filter__headline {
  position: relative;
  height: 94px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0 0 15px 15px;
  background-color: #161c35;
  color: white;
  padding-top: 40px;
  padding-left: 25px;
  font-size: 36px;
}

.catalog-filter__headline::after {
  content: "";
  position: absolute;

  top: 90px;
  left: 25px;

  width: 173px;
  height: 5px;

  background-color: #ff8d30;
  border-radius: 5px;
}
