.catalog-filter__headline {
  position: relative;
  height: 94px;
  margin: 0;
  padding-top: 40px;
  padding-left: 25px;
  font-size: 36px;

  border-radius: 0 0 15px 15px;
  color: $color-white;
  background-color: $bg-darkblue1635;
}

.catalog-filter__headline::after {
  content: "";
  position: absolute;

  top: 90px;
  left: 25px;

  width: 173px;
  height: 5px;

  background-color: $color-orange;
  border-radius: 5px;
}
