a {
  text-decoration: none;
  color: $bg-darkblue1635;
}

.list {
  list-style: none;
}

.center {
  margin: 0 auto;
}

.up {
  text-transform: uppercase;
}

.yellow-btn:hover {
  background-color: $bg-yellow-bd;
}

.yellow-btn:active {
  color: $color-yellow3d;
}
