a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.center {
  margin: 0 auto;
}

.up {
  text-transform: uppercase;
}

.yellow-btn:hover {
  background-color: #ffbd30;
}

.yellow-btn:active {
  opacity: 0.3;
  background-color: #ffbd30;
}
