.countries {
  padding-top: 55px;
  position: relative;

  height: 985px;

  color: $color-black;
}

.countries__headline {
  margin-top: 0;
  margin-left: 25px;
  margin-bottom: 30px;
}

.countries__description {
  margin-top: 0;
  margin-left: 25px;
  margin-right: 45px;
  margin-bottom: 65px;
}

.countries-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.countries-list__item {
  position: relative;
  height: 190px;
  margin-bottom: 10px;
}

.countries__foto {
  border-radius: 15px 15px 0 0;
}

.countries-specification {
  position: absolute;
  display: flex;
  width: 100%;
  height: 90px;
  top: 100px;

  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 15px;

  border-radius: 15px;
  flex-wrap: wrap;
  background-color: $color-white;
}

.countries-specification__name {
  position: relative;
  width: 80px;
  margin: 0;
}

.countries-list__item:nth-child(1) .countries-specification__name::before {
  content: "";
  position: absolute;

  top: -38px;
  left: 0;

  width: 35px;
  height: 24px;

  background-image: url("../img/thailand-flag.png");
  background-repeat: no-repeat;
}

.countries-list__item:nth-child(2) .countries-specification__name::before {
  content: "";
  position: absolute;

  top: -38px;
  left: 0;

  width: 35px;
  height: 24px;

  background-image: url("../img/france-flag.png");
  background-repeat: no-repeat;
}

.countries-list__item:nth-child(3) .countries-specification__name::before {
  content: "";
  position: absolute;

  top: -38px;
  left: 0;

  width: 35px;
  height: 24px;

  background-image: url("../img/czech-flag.png");
  background-repeat: no-repeat;
}

.countries-specification__views {
  position: relative;
  margin-left: 100px;
  margin-top: 2px;
}

.countries-specification__views::before {
  content: "";
  position: absolute;

  top: 4px;
  left: -21px;

  width: 11px;
  height: 11px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.countries-specification__quote {
  width: 170px;
  margin: 0;
}

.countries__show {
  position: relative;
  display: block;

  width: 270px;
  height: 62px;
  border-radius: 10px;

  padding-left: 25px;
  padding-top: 20px;

  color: $bg-blue;
  background-color: $bg-yellow-d7;
}

.countries__show::after {
  content: "";
  position: absolute;

  top: 24px;
  left: 225px;

  width: 10px;
  height: 14px;

  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;
}
