.countries {
  position: relative;
  width: 320px;
  height: 985px;

  color: $color-black;
  padding: 70px 25px 30px 25px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 1095px;

    padding: 80px 75px;

    background-repeat: no-repeat;
    background-size: 688px 575px;
    background-position: 40px 80px;
    background-image: url("../img/countries-back-tablet.png");
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 750px;

    padding: 88px 60px 140px 60px;

    background-size: 1320px 575px;
    background-position: 60px 88px;
    background-image: url("../img/countries-back-desktop.png");
  }
}

@media (min-width: $desktop-width) {
  .countries__start {
    order: 2;
    width: 360px;
    margin: 80px 0 0 175px;
  }
}

.countries__button {
  display: none;

  @media (min-width: $desktop-width) {
    position: relative;
    display: block;
    width: 274px;
    height: 81px;

    padding: 25px 0 0 35px;

    color: $bg-blue;
    font-size: 24px;
    border-radius: 15px;
    background-color: $bg-yellow-d7;
  }
}


@media (min-width: $desktop-width) {
  .countries__button::after {
    position: absolute;
    content: "";

    width: 10px;
    height: 14px;

    top: 34px;
    left: 220px;

    background-repeat: no-repeat;
    background-image: url("../img/countries-right.png");
  }

  .countries__button:active::after {
    opacity: 0.3;
  }
}

.countries__headline {
  margin: 0 0 25px 0;
  padding-left: 25px;

  font-size: 24px;
  color: $bg-orange;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 60px;
  }
}

.countries__description {
  width: 235px;

  margin: 0 0 65px 0;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    width: 350px;
    margin-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    margin-bottom: 85px;
    padding: 0;
  }
}

.countries-list {
  margin: 0 0 30px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 440px;
    margin: 71px 0 0 71px;
  }
}

.countries-list__item {
  position: relative;
  height: 190px;

  margin-bottom: 10px;
  border-radius: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 620px;
    height: 140px;
  }
}

.countries__foto {
  border-radius: 15px 15px 0 0;

  @media (min-width: $tablet-width) {
    margin-left: 350px;
    border-radius: 0 15px 15px 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 290px;
  }
}

.countries-specification {
  position: absolute;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 90px;

  top: 100px;

  padding: 25px 25px 15px 25px;

  border-radius: 15px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    display: block;
    width: 432px;
    height: 140px;

    top: 0;
    padding-top: 30px;
    border-radius: 15px 0 0 15px;
  }

  @media (min-width: $desktop-width) {
    width: 373px;
    height: 140px;

    top: 0;
    padding: 25px 0 23px 30px;
    border-radius: 15px 0 0 15px;
  }
}

.countries-specification__name {
  position: relative;
  width: 80px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 100px;
    height: 25px;
    margin-bottom: 5px;
    font-size: 24px;
  }
}

.countries-list__item:last-child .countries-specification__name::after {
  position: absolute;
  content: "";

  width: 270px;
  height: 90px;

  top: -25px;
  left: -25px;

  border-radius: 15px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, $bg-grey 100%);

  @media (min-width: $tablet-width) {
    width: 620px;
    height: 140px;
    top: -30px;
  }

  @media (min-width: $desktop-width) {
    top: -25px;
    left: -30px;
  }
}

.countries-list__item .countries-specification__name::before {
  position: absolute;
  content: "";

  width: 35px;
  height: 24px;

  top: -38px;
  left: 0;

  background-repeat: no-repeat;
  background-image: url("../img/thailand-flag.png");

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;

    top: -19px;
    left: 373px;

    background-image: url("../img/thailand-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 47px;

    top: -2px;
    left: 308px;

    background-image: url("../img/thailand-tablet.png");
  }
}

.countries-list__item:nth-child(2) .countries-specification__name::before {
  background-image: url("../img/france-flag.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/france-tablet.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/france-tablet.png");
  }
}

.countries-list__item:nth-child(3) .countries-specification__name::before {
  background-image: url("../img/czech-flag.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/czech-tablet.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/czech-tablet.png");
  }
}

.countries-specification__views {
  position: relative;
  margin: -45px 0 0 185px;
  color: $color-lightgrey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-left: 35px;
  }
}

.countries-specification__views::before {
  position: absolute;
  content: "";

  width: 11px;
  height: 11px;

  top: 4px;
  left: -21px;

  opacity: 0.1;
  background-repeat: no-repeat;
  background-image: url("../img/user.svg");

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;

    top: 0;
    left: -35px;
  }
}

.countries-list__item:last-child .countries-specification__views {
  margin-left: 192px;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 30px;
  }
}

.countries-specification__quote {
  width: 180px;
  margin: 0;
  color: $color-lightgrey;

  @media (min-width: $tablet-width) {
    width: 215px;
    height: 20px;

    margin-bottom: 12px;
    font-size: 20px;
  }
}

.countries__show {
  position: relative;
  display: block;

  width: 270px;
  height: 62px;

  padding: 20px 0 0 25px;

  color: $bg-blue;
  font-size: 18px;
  border-radius: 10px;
  background-color: $bg-yellow-d7;

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 81px;

    padding: 25px 0 0 35px;

    color: $bg-blue;
    font-size: 24px;
    border-radius: 15px;
    background-color: $bg-yellow-d7;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.countries__show::after {
  position: absolute;
  content: "";

  width: 10px;
  height: 14px;

  top: 24px;
  left: 225px;

  background-repeat: no-repeat;
  background-image: url("../img/countries-right.png");

  @media (min-width: $tablet-width) {
    width: 10px;
    height: 14px;

    top: 32px;
    left: 580px;

    background-image: url("../img/countries-right.png");
  }
}

.countries__show:active::after {
  opacity: 0.3;
}
