.interest {
  height: 504px;

  padding-top: 75px;
  padding-left: 25px;
  padding-right: 25px;

  color: $color-white;

  @media (min-width: $tablet-width) {
    height: 714px;
    padding-top: 85px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.interest__healine {
  width: 210px;
  margin-top: 0;
  margin-bottom: 25px;
  color: $bg-orange;
  font-size: 24px;

  @media (min-width: $tablet-width) {
    width: 395px;
    font-size: 45px;
    margin-bottom: 65px;
  }
}

.interest-registration {
  text-align: center;
  width: 200px;
  margin-top: 0;
  margin-bottom: 33px;


  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    width: 100%;
  }
}

.interest-registration__authorization {
  color: $color-yellow;
  text-decoration: underline;
}

.interest-form {
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    margin-left: 75px;
    margin-right: 75px;
  }
}

.interest-form__email {
  position: relative;
  width: 100%;
  height: 62px;
  padding: 0;
  padding-left: 25px;
  font-size: 18px;


  border-radius: 15px;
  border: none;
  color: $color-lightgrey;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    height: 81px;
    font-size: 24px;
  }
}

.interest-form__email:hover {
  color: $color-grey;
  background-color: $bg-grey;
}

.interest-form__email:focus {
  border: 4px solid $color-white;
  color: $color-white;
  background-color: $bg-darkblue19;
}

.interest-button {
  position: absolute;
  width: 60px;
  height: 62px;
  border-radius: 15px;
  border: none;
  background-color: $bg-yellow-d7;
  right: 0;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 81px;
  }
}

.interest__questions {
  width: 220px;
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 650px;
    margin-bottom: 65px;
  }
}

.interest-contacts {
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    margin-left: 105px;
  }
}

.interest-contacts__item a {
  position: relative;
  color: $bg-yellow-d7;
}

.interest-contacts__icon {
  position: absolute;
  display: block;
  left: -60px;
  top: -10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    left: -90px;
    top: -20px;
  }
}

.contacts__icon-2 {
  top: -14px;
}

.interest-contacts__icon {
  width: 45px;
  height: 45px;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
  }
}

.interest-contacts__item:first-child {
  margin-bottom: 30px;
}
