.interest {
  width: 270px;
  height: 504px;
  padding: 70px 0 30px 0;
  color: $color-white;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 714px;
    padding: 85px 75px 0 75px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 750px;
    padding: 100px 134px 100px 132px;
  }
}

.interest__healine {
  width: 210px;
  margin: 0 auto 25px auto;
  color: $bg-orange;
  font-size: 24px;

  @media (min-width: $tablet-width) {
    width: 395px;
    font-size: 45px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.interest-registration {
  text-align: center;
  width: 200px;
  margin: 0 auto 33px auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.interest-registration__authorization {
  color: $color-yellow;
  text-decoration: underline;
}

.interest-registration__authorization:hover {
  color: $bg-orange;
}

.interest-registration__authorization:active {
  opacity: 0.3;
}

.interest-form {
  position: relative;
  width: 270px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px 0;
  }
}

.interest-form__email {
  position: relative;
  width: 100%;
  height: 62px;

  padding: 0 0 0 25px;

  border: none;
  font-size: 18px;
  border-radius: 15px;
  color: $color-lightgrey;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    height: 81px;
    font-size: 24px;
    padding-left: 35px;
  }
}

.interest-form__email:hover {
  color: $color-grey;
  background-color: $bg-grey;
}

.interest-form__email:focus {
  border: 4px solid $color-white;
  color: $color-white;
  background-color: $bg-darkblue19;
}

.interest-button {
  position: absolute;
  width: 60px;
  height: 62px;

  left: 210px;

  border: none;
  background-color: $bg-yellow-d7;
  border-radius: 15px;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 81px;
    left: 536px;
  }

  @media (min-width: $desktop-width) {
    width: 324px;
    padding: 0 36px 0 37px;
    left: 850px;
    border-radius: 0 15px 15px 0;
  }
}

.interest-button__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 135px;
    color: $bg-blue;
    font-size: 24px;
  }
}

@media (min-width: $desktop-width) {
  .interest-button__icon {
    position: absolute;
    top: 34px;
    left: 280px;
  }
}

.interest__questions-list {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  padding: 0;
  margin: 0 auto 30px auto;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 625px;
    margin: 0 auto 35px auto;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin: 0 auto 45px auto;
  }
}

.interest__questions-item:nth-of-type(1) {
  width: 220px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
    text-align: left;
  }
}

.interest__questions-item:nth-of-type(3) {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .interest__questions-item:nth-of-type(2) {
    display: none;
  }
}

.interest-contacts {
  width: 230px;
  height: 90px;

  margin: 0 auto;
  padding: 15px 0 15px 60px;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 136px;

    margin: 0;
    padding: 20px 0 0 90px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    width: 870px;
    height: 90px;

    margin: 0 auto;
    padding: 16px 0 0 120px;
  }
}

.interest-contacts__item {
  position: relative;
}

.interest-contacts__item::before {
  position: absolute;
  content: "";

  width: 45px;
  height: 45px;

  top: -14px;
  left: -60px;

  background-repeat: no-repeat;
  background-image: url("../img/interest-phone-mobile.png");

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;

    top: -20px;
    left: -88px;

    background-image: url("../img/interest-phone-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;

    top: -17px;
    left: -120px;

    background-image: url("../img/interest-phone-desktop.png");
  }
}

.interest-contacts__item:last-child::before {
  top: -12px;
  background-image: url("../img/interest-mail-mobile.png");

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    top: -10px;
    background-image: url("../img/interest-mail-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
    top: -17px;
    background-image: url("../img/interest-mail-desktop.png");
  }
}

.interest-contacts__item a {
  position: relative;
  color: $bg-yellow-d7;

  @media (min-width: $desktop-width) {
    display: block;
    margin-top: 15px;
  }
}

.interest-contacts__item:hover a {
  color: $bg-yellow-bd;
}

.interest-contacts__item:first-child:hover::before {
  background-image: url("../img/interest-phone-mobile-hvr.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/interest-phone-tablet-hvr.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/interest-phone-desktop-hvr.png");
  }
}

.interest-contacts__item:last-child:hover::before {
  background-image: url("../img/interest-mail-mobile-hvr.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/interest-mail-tablet-hvr.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/interest-mail-desktop-hvr.png");
  }
}

.interest-contacts__item:active {
  opacity: 0.3;
}

.interest-contacts__item:first-child {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
