.container .intro {
  padding-top: 50px;
  margin-top: 0px;

  width: 320px;
  height: 994px;
  box-sizing: border-box;

  color: $color-white;

  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 320px 405px;
}

.intro__healine {
  position: relative;
  width: 240px;
  text-align: center;
}

.intro__healine::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 35px;

  width: 195px;
  height: 255px;

  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.intro-connection {
  position: relative;
  margin-top: 251px;
  display: flex;
  width: 269px;
  height: 40px;
  text-align: center;
}

.intro-contacts {
  display: flex;
}

.intro-contacts .intro-contacts__item:first-child {
  margin-top: -16px;
  margin-left: -40px;
  background-color: $bg-yellow-bd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-top: 10px;
}

.intro-contacts .intro-contacts__item:first-child:hover {
  background-color: $bg-darkorange;
}

.intro-contacts .intro-contacts__item:first-child:active {
  opacity: 0.3;
  background-color: $bg-darkorange;
}

.intro-contacts .intro-contacts__item:last-child {
  margin-top: -16px;
  background-color: $bg-yellow-bd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-top: 12px;
}

.intro-contacts .intro-contacts__item:last-child:hover {
  background-color: $bg-orange;
}

.intro-contacts .intro-contacts__item:last-child:active {
  opacity: 0.3;
  background-color: $bg-orange;
}

.intro-connection__authorization {
  background-color: $bg-yellow-d7;
  width: 189px;
  height: 40px;
  box-sizing: border-box;
  padding-top: 10px;
  border-radius: 25px;
}

.intro-connection__authorization:hover {
  background-color: $bg-yellow-bd;
}

.intro-connection__authorization:active {
  opacity: 0.3;
  background-color: $bg-yellow-bd;
}

.intro-darkblue {
  margin-top: -20px;
  background-color: $bg-darkblue1635;
  height: 285px;
  padding-top: 40px;
  box-sizing: border-box;
}

.intro .review-list {
  padding: 0;
  margin-left: 50px;
}

.review-list blockquote {
  width: 160px;
  margin: 0;
}

.review-list p {
  width: 160px;
  margin-top: 20px;
}

.intro-lightblue {
  position: relative;
  margin-top: -16px;
  height: 290px;
  background-color: $bg-darkblue19;
}

.intro .steps {
  top: -90px;
  position: absolute;
}

.intro .steps-list {
  position: relative;
  width: 270px;
  height: 320px;
  box-sizing: border-box;
  counter-reset: section;
}

.steps-list__item {
  color: $bg-darkblue1635;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 25px;
  box-sizing: border-box;
}

.steps-list__item::after {
  color: $color-white;
  position: absolute;
  right: 20px;
  top: 20px;
  counter-increment: section;
  content: counter(section);
}

.steps-list__item:first-child {
  position: absolute;
  width: 230px;
  background-color: $bg-orange;
  height: 100px;
}

.steps-list__item:nth-child(2) {
  position: absolute;
  top: 80px;
  background-color: $bg-lightorange;
  height: 100px;
}

.steps-list__item:nth-child(3) {
  position: absolute;
  top: 160px;
  background-color: $bg-yellow-bd;
  height: 100px;
  width: 230px;
}

.steps-list__item:nth-child(4) {
  position: absolute;
  top: 240px;
  background-color: $bg-yellow-d7;
  height: 80px;
  padding-right: 100px;
}
