.container .intro {
  height: 969px;
  padding-top: 20px;
  margin-top: 0;

  color: $color-white;

  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 450px;

  @media (min-width: $tablet-width) {
    height: 865px;

    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url("../img/globe-back-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 2958px 904px;
  }

  @media (min-width: $desktop-width) {
    height: 651px;

    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;

    border-radius: 0 0 35px 35px;

    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 651px;
  }
}

.intro__healine {
  position: relative;
  width: 250px;
  margin: 0 auto;

  font-size: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 400px;
    font-size: 60px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    margin-top: 90px;
    margin-left: 70px;
    text-align: left;
    font-size: 60px;
  }
}

.intro__healine::after {
  content: "";
  position: absolute;

  width: 195px;
  height: 255px;

  top: 135px;
  left: 35px;

  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    width: 372px;
    height: 451px;

    top: 236px;
    left: 35px;

    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;

    width: 431px;
    height: 640px;

    top: -90px;
    left: 475px;

    background-image: url("../img/traveller-illustration-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.intro-darkblue {
  height: 285px;
  margin-top: 265px;
  padding-top: 50px;

  background-color: $bg-darkblue1635;

  @media (min-width: $tablet-width) {
    background: none;
    margin-top: 140px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    background: none;
    margin-top: -190px;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.intro .review-list {
  width: 222px;
  padding: 0;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    margin-left: 1025px;
  }
}

.review-list blockquote {
  width: 160px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 270px;
  }
}

.review-list p {
  width: 160px;

  @media (min-width: $tablet-width) {
    width: 245px;
    font-weight: bold;
    font-size: 21px;
  }
}

.intro-lightblue {
  position: relative;
  height: 290px;
  background-color: $bg-darkblue19;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.intro .steps-list {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 320px;
  padding-left: 0;
  counter-reset: section;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 280px;
    top: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    height: 107px;
    top: 12px;
  }
}

.steps-list__item {
  position: relative;
  padding-top: 20px;
  padding-left: 25px;

  border-radius: 10px;
  color: $bg-darkblue1635;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
    padding-top: 25px;
  }
}

.steps-list__item::after {
  position: absolute;
  color: $color-white;
  right: 20px;
  top: 20px;
  font-size: 18px;
  counter-increment: section;
  content: counter(section);

  @media (min-width: $tablet-width) {
    top: 80px;
    left: 25px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 25px;
    left: 240px;
    font-size: 24px;
  }
}

@media (min-width: $desktop-width) {
  .steps-list__item:nth-child(2)::after {
    left: 260px;
  }

  .steps-list__item:nth-child(3)::after {
    left: 260px;
  }
}

.steps-list__item:first-child {
  position: absolute;
  width: 270px;
  background-color: $bg-orange;
  height: 100px;

  @media (min-width: $tablet-width) {
    width: 370px;
    height: 140px;
    border-radius: 10px 10px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 335px;
    height: 107px;
    border-radius: 10px 0 0 10px;
  }
}

.steps-list__item:nth-child(2) {
  position: absolute;
  top: 80px;
  width: 270px;
  background-color: $bg-lightorange;
  height: 100px;

  @media (min-width: $tablet-width) {
    height: 140px;
    width: 345px;
    top: 0;
    left: 350px;
    border-radius: 10px 10px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 365px;
    height: 107px;
    left: 315px;
    border-radius: 10px 0 0 10px;
  }
}

.steps-list__item:nth-child(3) {
  position: absolute;
  top: 160px;
  background-color: $bg-yellow-bd;
  height: 100px;
  width: 270px;

  @media (min-width: $tablet-width) {
    width: 370px;
    height: 140px;
    top: 140px;
    border-radius: 0 0 10px 10px;
  }

  @media (min-width: $desktop-width) {
    width: 365px;
    height: 107px;
    top: 0;
    left: 660px;
    border-radius: 10px 0 0 10px;
  }
}

.steps-list__item:nth-child(4) {
  position: absolute;
  top: 240px;
  background-color: $bg-yellow-d7;
  width: 270px;
  height: 80px;
  padding-right: 100px;

  @media (min-width: $tablet-width) {
    width: 345px;
    height: 140px;
    top: 140px;
    left: 350px;
    border-radius: 0 0 10px 10px;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
    height: 107px;
    padding-right: 0;
    top: 0;
    left: 1005px;
    border-radius: 10px 10px 10px 10px;
  }
}
