.main-footer {
  width: 100%;
  height: 239px;
  padding: 38px 25px 15px 25px;

  color: $bg-darkblue19;
  background-color: $color-white;
  border-radius: 20px 20px 0 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    height: 155px;
    padding: 48px 40px 45px 40px;
  }

  @media (min-width: $desktop-width) {
    height: 154px;
    padding: 48px 60px 46px 60px;
  }
}

.index-footer {
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    margin-top: -20px;
  }
}

.form-footer {
  margin-top: -25px;

  @media (min-width: $tablet-width) {
    margin-top: -52px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -40px;
  }
}

.main-footer__logo {
  display: block;
  width: 120px;

  margin: 0 auto 41px auto;
  font-size: 27px;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;

    font-size: 0;
    margin: 13px 0 0 0;
    background-image: url("../img/logo-tablet-blue@1x.png");
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 55px;

    margin: 8px 0 0 0;
    font-size: 0;
    background-repeat: no-repeat;
    background-image: url("../img/logo-desktop-blue@1x.png");
  }
}

.main-footer__logo:hover {
  opacity: 0.7;

  @media (min-width: $tablet-width) {
    opacity: 1;
    background-image: url("../img/logo-tablet-white@1x.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/logo-desktop-white@1x.png");
  }
}

.main-footer-buttons-list {
  position: relative;
  display: flex;
  width: 135px;

  padding: 0;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    width: 180px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-footer-buttons-list::after {
  position: absolute;
  content: "";

  width: 270px;
  height: 1px;

  top: 70px;
  left: -65px;

  background-color: $bg-lightgrey-f2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-footer-buttons__item {
  display: block;
  width: 45px;
  height: 45px;

  border-radius: 50%;
  background-color: $bg-yellow-d7;

  background-size: 11px 21px;
  background-repeat: no-repeat;
  background-position: 17px 12px;
  background-image: url("../img/facebook-mobile.png");

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;

    background-size: 14px 28px;
    background-position: 23.5px 15px;
    background-image: url("../img/facebook-tablet.png");
  }
}

.main-footer-buttons__item:nth-child(2) {
  background-size: 23px 13px;
  background-position: 11px 17px;
  background-image: url("../img/vk-mobile.png");

  @media (min-width: $tablet-width) {
    background-size: 31px 16px;
    background-position: 14px 22px;
    background-image: url("../img/vk-tablet.png");
  }
}

.main-footer-buttons__item:last-child {
  background-size: 18px 18px;
  background-position: 14px 14px;
  background-image: url("../img/instagram-mobile.png");

  @media (min-width: $tablet-width) {
    background-size: 24px 24px;
    background-position: 18px 18px;
    background-image: url("../img/instagram-tablet.png");
  }
}

.main-footer-buttons__item:hover {
  background-color: $bg-darkblue19;
  background-image: url("../img/facebook-mobile-hvr.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/facebook-tablet-hvr.png");
  }
}

.main-footer-buttons__item:nth-child(2):hover {
  background-image: url("../img/vk-mobile-hvr.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/vk-tablet-hvr.png");
  }
}

.main-footer-buttons__item:last-child:hover {
  background-image: url("../img/instagram-mobile-hvr.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/instagram-tablet-hvr.png");
  }
}

.main-footer-buttons__item:active {
  background-image: url("../img/facebook-mobile-act.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/facebook-tablet-act.png");
  }
}

.main-footer-buttons__item:nth-child(2):active {
  background-image: url("../img/vk-mobile-act.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/vk-tablet-act.png");
  }
}

.main-footer-buttons__item:last-child:active {
  background-image: url("../img/instagram-mobile-act.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/instagram-tablet-act.png");
  }
}

.main-footer-copyright {
  position: relative;
  display: block;
  width: 100%;
  margin-top: -20px;

  @media (min-width: $tablet-width) {
    width: 155px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
  }
}

.main-footer-copyright::after {
  position: absolute;
  content: "";

  width: 27px;
  height: 34px;

  top: -5px;
  left: 90%;

  background-image: url("../img/htmlacademy.png");

  @media (min-width: $tablet-width) {
    top: -3px;
    left: 127px;
  }
}

.main-footer-copyright:hover {
  opacity: 0.6;
}

.main-footer-copyright:active {
  opacity: 0.3;
}
