.main-footer {
  height: 239px;
  width: 320px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  padding-bottom: 25px;
  box-sizing: border-box;

  color: $bg-darkblue19;
  background-color: $color-white;
  border-radius: 15px 15px 0 0;
}

.main-footer__logo {
  display: block;
  width: 120px;
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 30px;
}

.main-footer-buttons {
  position: relative;
  display: flex;
  padding: 0;
  width: 140px;
  margin-bottom: 60px;
}

.main-footer-buttons::after {
  content: "";
  position: absolute;

  top: 85px;
  left: -65px;

  width: 270px;
  height: 1px;

  background-image: url("../img/footer-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-footer-buttons {
  display: block;
  text-align: center;
  padding-top: 11px;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  background-color: $bg-yellow-d7;
  border-radius: 50%;
}

.main-footer-buttons .vk {
  padding-top: 15px;
}

.main-footer-buttons .inst {
  padding-top: 13px;
}

.main-footer-buttons__item:hover {
  background-color: $bg-darkblue19;
}

.main-footer__academy {
  width: 85px;
  margin: 0;
}

.main-footer__academy-icon {
  display: block;
  margin-top: -20px;
  margin-left: 220px;
}
