.page-header {

  color: white;
  height: 478px;
  width: 320px;
  padding-left: 25px;
  padding-top: 25px;
  box-sizing: border-box;

  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
