.pages {
  width: 100%;
  height: 165px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.pages__show {
  position: relative;
  color: #1d2e5b;
  font-size: 17px;
  margin-left: 90px;
}

.pages__show::before {
  content: "";
  position: absolute;

  top: 0;
  left: -30px;

  width: 18px;
  height: 18px;

  background-image: url("../img/show-more.png");
}

.pages__list {
  padding-left: 0;
  display: flex;
}

.pages__list__item {
  width: 135px;
  height: 50px;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  padding-top: 15px;
}

.page-previous {
  margin-right: 1px;
  border-radius: 15px 0 0 15px;
}

.page-next {
  border-radius: 0 15px 15px 0;
}
