.rates {
  width: 320px;
  height: 451px;
  padding: 37px 25px 0 50px;
  color: $bg-darkblue19;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 644px;
    padding: 75px 40px 0 40px;

    background-repeat: no-repeat;
    background-size: 198px 285px;
    background-position: 530px 185px;
    background-image: url("../img/rates-back-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 750px;
    padding: 105px 130px 120px 130px;

    background-position: 750px 240px;
    background-size: 556px 300px;
    background-image: url("../img/rates-back-desktop.png");
  }
}

.rates__headline {
  position: relative;
  margin: 15px 0 60px 0;
  padding-right: 140px;

  color: $bg-orange;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    margin: 0 0 105px 0;
    padding: 0 100px 0 90px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    margin: 0 auto 155px auto;
    padding: 0;
  }
}

.rates__headline::after {
  position: absolute;
  content: "";
  width: 99px;
  height: 99px;

  top: -10px;
  left: 145px;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/rates.png");

  @media (min-width: $tablet-width) {
    top: 380px;
    left: 540px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.rates-list {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 653px;
    height: 201px;
    padding: 15px 0 0 90px;
  }

  @media (min-width: $desktop-width) {
    width: 905px;
    height: 201px;
  }
}

@media (min-width: $tablet-width) {
  .rates-list__item-big {
    display: flex;
    justify-content: space-between;

    width: 565px;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .rates-list__item-big {
    display: flex;
    justify-content: space-between;

    width: 815px;
    margin-bottom: 42px;
  }
}

.rates-list dt {
  position: relative;

  @media (min-width: $tablet-width) {
    height: 30px;
  }
}

.rates-list dt::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 1px;

  top: -15px;
  left: 0;

  background-color: $bg-lightgrey;

  @media (min-width: $tablet-width) {
    width: 562px;
  }

  @media (min-width: $desktop-width) {
    width: 813px;
  }
}

.rates-list__item-big .rates-list__item:first-child {
  position: relative;
}

.rates-list__item-big .rates-list__item:first-child::after {
  position: absolute;
  content: "1";
  width: 34px;
  height: 34px;

  padding-top: 7px;

  top: -7px;
  left: 210px;

  text-align: center;
  border-radius: 50%;
  color: $color-white;
  background-color: $bg-lightorange;

  @media (min-width: $tablet-width) {
    width: 67px;
    height: 67px;

    padding-top: 17px;

    top: -15px;
    left: -90px;
  }
}

.rates-list__item-big:nth-of-type(2) .rates-list__item:first-child::after {
  content: "2";

  @media (min-width: $tablet-width) {
    top: -20px;
  }
}

.rates-list__item-big:nth-of-type(3) .rates-list__item:first-child::after {
  content: "3";

  @media (min-width: $tablet-width) {
    content: "3";
    top: -25px;
  }
}

.rates-list dd {
  position: relative;
  margin: 0 0 30px 0;

  @media (min-width: $tablet-width) {
    height: 25px;
    margin-bottom: 0;
  }
}

.rates-list .rates-list__item-big:last-of-type dd::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 0;

  width: 200px;
  height: 1px;

  background-color: $bg-lightgrey;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.rates__button {
  margin-top: 10px;
  padding: 0;

  border: none;
  font-weight: bold;
  color: $bg-darkblue19;
  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 33px;
    font-size: 20px;
  }
}

@media (min-width: $tablet-width) {
  .rates__button::before {
    position: absolute;
    content: "";

    width: 67px;
    height: 67px;

    top: -20px;
    left: -87px;

    background-repeat: no-repeat;
    background-image: url("../img/business-rates-tablet.png");
  }
}

@media (min-width: $tablet-width) {
  .rates__button::after {
    position: absolute;
    content: "";
    width: 562px;
    height: 1px;

    top: -60px;
    left: 0;

    background-color: $bg-lightgrey;
  }
}

@media (min-width: $desktop-width) {
  .rates__button::after {
    position: absolute;
    content: "";
    width: 813px;
    height: 1px;

    top: -60px;
    left: 0;

    background-color: $bg-lightgrey;
  }
}

.rates__button:hover {
  opacity: 0.8;
}

.rates__button:active {
  opacity: 0.4;
}
