.route {
  width: 320px;
  height: 206px;

  padding: 35px 25px;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 325px;
    padding: 70px 75px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    width: 1440px;
    height: 200px;

    padding: 58px 134px;
  }
}

.route__adress {
  position: relative;
  width: 200px;

  margin-top: 0;
  margin-bottom: 35px;
  padding-left: 60px;

  color: $bg-blue;

  @media (min-width: $tablet-width) {
    width: 530px;
    margin-bottom: 65px;
    padding-left: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 90px;
    margin-left: 150px;
    margin-bottom: 0;

    padding-top: 30px;
    padding-left: 120px;
  }
}

.route__adress::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 45px;
  height: 45px;
  background-image: url("../img/route-location.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;

    width: 68px;
    height: 68px;
    background-image: url("../img/route-location-tablet.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 90px;
    height: 90px;

    background-image: url("../img/route-location-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.route__button {
  position: relative;
  width: 100%;
  height: 62px;

  padding: 0 0 0 21px;

  text-align: left;
  border-radius: 10px;
  background-color: $bg-yellow-d7;
  border: 3px solid $bg-darkblue19;

  @media (min-width: $tablet-width) {
    height: 81px;
  }

  @media (min-width: $desktop-width) {
    width: 324px;
    border-radius: 15px;
  }
}

.route__button a {
  color: $bg-blue;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.route__button:hover {
  background-color: $bg-darkblue19;
}

.route__button:hover a {
  color: $color-white;
}

.route__button:active a {
  opacity: 0.3;
}

.route__button::before {
  position: absolute;
  content: "";

  width: 10px;
  height: 14px;

  top: 22px;
  left: 235px;
  opacity: 1;

  background-repeat: no-repeat;
  background-image: url("../img/arrow-right-white.png");

  @media (min-width: $tablet-width) {
    top: 33px;
    left: 570px;
  }

  @media (min-width: $desktop-width) {
    top: 33px;
    left: 280px;
  }
}

.route__button:active::before {
  opacity: 0.3;
}

.route__button::after {
  position: absolute;
  content: "";

  width: 10px;
  height: 14px;

  top: 22px;
  left: 235px;

  background-repeat: no-repeat;
  background-image: url("../img/triangle-arrow-right.png");

  @media (min-width: $tablet-width) {
    top: 33px;
    left: 570px;
  }

  @media (min-width: $desktop-width) {
    top: 33px;
    left: 280px;
  }
}

.route__button:hover::after {
  opacity: 0;
}
