.route {
  height: 206px;
  box-sizing: border-box;

  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
}

.route__adress {
  position: relative;
  width: 160px;
  padding-left: 60px;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 35px;
  color: $bg-blue;
}

.route__adress::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;

  width: 45px;
  height: 45px;
  background-image: url("../img/route-location.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.route__button {
  position: relative;
  width: 270px;
  height: 62px;
  box-sizing: border-box;
  text-align: left;
  padding-right: 0;
  padding-left: 21px;

  color: $bg-blue;
  background-color: $bg-yellow-d7;
  border: 3px solid $bg-darkblue19;
  border-radius: 15px;
}

.route__button:hover {
  background-color: $bg-darkblue19;
  color: $color-white;
}

.route__button:active p {
  opacity: 0.3;
}

.route__button::before {
  content: "";
  position: absolute;

  top: 22px;
  left: 235px;
  opacity: 1;

  width: 10px;
  height: 14px;
  background-image: url("../img/arrow-right-white.png");
  background-repeat: no-repeat;
}

.route__button:active::before {
  opacity: 0.3;
}

.route__button::after {
  content: "";
  position: absolute;

  top: 22px;
  left: 235px;

  width: 10px;
  height: 14px;
  background-image: url("../img/triangle-arrow-right.png");
  background-repeat: no-repeat;
}

.route__button:hover::after {
  opacity: 0;
}
