.travelmates {
  width: 270px;
  height: 1372px;
  box-sizing: border-box;

  padding-top: 75px;
  margin-left: 25px;
  margin-right: 25px;

  color: white;

  // background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 320px 405px;
}

.travelmates__description {
  margin-top: 25px;
  margin-bottom: 30px;
  padding-right: 50px;
}

.travelmates__list {
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 0;
}

.travelmates__list__item {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 427px;
}

// .travelmates__layer {
//   position: absolute;
//   padding: 0;
//   top: 15px;
//   left: 15px;
// }

// .travelmate__layer__number {
//   position: relative;
//   font-weight: 800;
//   font-size: 24px;
//   color: white;
//   opacity: 1.3;
// }

// .travelmate__layer__number::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;

//   width: 60px;
//   height: 60px;

//   background-image: url("../img/dark-circle.png");
//   background-repeat: no-repeat;
//   background-position: 0 0;
// }

// .travelmate__layer__level {
//   font-size: 14px;
//   margin: 0;
// }

.travelmate__image {
  border-radius: 10px 10px 0 0;
}

.travelmate__specification {
  box-sizing: border-box;
  background-color: white;
  margin-top: -5px;
  width: 100%;
  height: 157px;
  border-radius: 0 0 10px 10px;
  padding-top: 30px;
  text-align: center;
}

.firsova-headline {
  position: relative;
  color: #1d2e5b;
}

.firsova-headline::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;

  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: #f97676;
}

.demin-headline {
  position: relative;
  color: #1d2e5b;
}

.demin-headline::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;

  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: #81e31e;
}

.hashtag-list {
  margin-top: 15px;
  padding-left: 0px;
  margin-bottom: 15px;
  width: 210px;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.travelmates__list__item:last-child .hashtag-list {
  margin-left: 50px;
}

.hashtag-list__item {
  margin-right: 7px;
}

.hashtag-margin1 {
  margin-left: 40px;
}

.hashtag-margin2 {
  margin-left: 20px;
}

.travelmate__traffic {
  width: 125px;
  display: flex;
  padding: 0;
  color: #1d2e5b;
}

.travelmate__traffic__item:not(:nth-child(4)) {
  margin-right: 15px;
}

.travelmates__button {
  position: relative;
  display: block;
  box-sizing: border-box;

  width: 270px;
  height: 62px;
  border-radius: 10px;

  padding-left: 25px;
  padding-top: 20px;

  color: #1d2e5b;
  background-color: #ffd74b;
}

.travelmates__button::after {
  content: "";
  position: absolute;

  top: 24px;
  left: 225px;

  width: 10px;
  height: 14px;

  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat;
}
