.travelmates-catalog {
  position: relative;
  width: 270px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 688px;
    margin-top: 40px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    margin: 0 auto 65px auto;
  }
}

.travelmate {
  position: relative;
  width: 100%;
  height: 415px;

  margin-bottom: 10px;
  padding: 16px 25px 22px 25px;

  border-radius: 15px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    height: 332px;
    margin-bottom: 40px;
    padding: 35px 25px 25px 35px;
  }

  @media (min-width: $desktop-width) {
    width: 950px;
    height: 285px;
    margin-bottom: 30px;
    padding: 45px 44px 42px 0;
  }
}

.travelmate:hover {
  box-shadow: 0 0 10px $bg-grey-ed;
}

.travelmate:nth-of-type(even) {
  height: 393px;

  @media (min-width: $tablet-width) {
    height: 332px;
  }

  @media (min-width: $desktop-width) {
    height: 285px;
  }
}

.travelmate__top-list {
  display: flex;
  justify-content: space-between;

  width: 165px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 430px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 560px;
    height: 285px;
    margin-top: -45px;
  }
}

@media (min-width: $desktop-width) {
  .travelmate__top-list::after {
    position: absolute;
    content: "";

    width: 1px;
    height: 189px;

    top: 50px;
    left: 632px;

    background: linear-gradient($color-white 0%, $bg-grey 50%, $color-white 100%);
  }
}

.travelmate__image {
  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    width: 190px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.travelmate__image img {
  width: 70px;
  height: 70px;

  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 10%;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;

    border-radius: 10px 0 0 10px;
  }
}

.travelmate__image::before {
  position: absolute;
  content: "";

  width: 31px;
  height: 31px;

  top: 40px;
  left: 45px;

  background-repeat: no-repeat;
  background-image: url("../img/heart-catalog-mobile.png");

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;

    top: 140px;
    left: 370px;

    background-image: url("../img/heart-catalog-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: 190px;
    left: 495px;
  }
}

.travelmate__image:hover::before {
  background-image: url("../img/heart-catalog-mobile-hvr.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/heart-catalog-tablet-hvr.png");
  }
}

.travelmate__image:active::before {
  background-image: url("../img/heart-catalog-mobile-act.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/heart-catalog-tablet-act.png");
  }
}

.travelmate:first-of-type .travelmate__image::before {
  background-image: url("../img/heart-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/heart-firsova-tablet.png");
  }
}

.travelmate:first-of-type .travelmate__image:hover::before {
  background-image: url("../img/heart-firsova-mobile-hvr.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/heart-firsova-tablet-hvr.png");
  }
}

.travelmate:first-of-type .travelmate__image:active::before {
  background-image: url("../img/heart-firsova-mobile-act.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/heart-firsova-tablet-act.png");
  }
}

.travelmate__headline {
  position: relative;
  width: 80px;
  margin: 0;

  font-size: 20px;
  color: $bg-blue;

  @media (min-width: $tablet-width) {
    width: 215px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
  }
}

.travelmate__headline:hover {
  opacity: 0.6;
}

.travelmate__headline:active {
  opacity: 0.3;
}

.travelmate__headline::after {
  position: absolute;
  content: "";

  width: 6px;
  height: 6px;

  top: 8px;
  left: 133px;

  border-radius: 50%;
  background-color: $bg-pink;

  @media (min-width: $tablet-width) {
    top: 13px;
    left: 210px;
  }

  @media (min-width: $desktop-width) {
    top: 14px;
    left: -21px;
  }
}

@media (min-width: $tablet-width) {
  .travelmate:nth-of-type(2) .travelmate__headline::after {
    left: 180px;
  }

  .travelmate:nth-of-type(3) .travelmate__headline::after {
    left: 195px;
  }

  .travelmate:last-of-type .travelmate__headline::after {
    left: 235px;
  }
}

@media (min-width: $desktop-width) {
  .travelmate:nth-of-type(2) .travelmate__headline::after {
    left: -25px;
  }

  .travelmate:nth-of-type(3) .travelmate__headline::after {
    left: -23px;
  }

  .travelmate:last-of-type .travelmate__headline::after {
    left: -24px;
  }
}

.travelmate:last-of-type .travelmate__headline::after {
  background-color: $bg-brightgreen;
}

.travelmate__likes {
  position: absolute;
  top: 64px;
  left: 110px;
  color: $bg-darkblue1635;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 190px;
    left: 460px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 201px;
    left: 550px;
  }
}

.travelmate__hashtag-list {
  width: 180px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 235px;
    margin: 0;

    top: 80px;
    left: 250px;

    font-size: 20px;
    color: $bg-darkgrey;
  }

  @media (min-width: $desktop-width) {
    top: 95px;
    left: 345px;
  }
}

.travelmate-countries__headline {
  position: relative;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 45px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.travelmate-countries__headline::before {
  content: "";
  position: absolute;

  top: 10px;
  left: -25px;

  width: 14px;
  height: 1px;

  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 9px;
    left: -80px;

    width: 71px;
    height: 1px;

    background-color: $bg-grey;
  }
}

.travelmate-countries__headline::after {
  content: "";
  position: absolute;

  top: 10px;
  left: 115px;

  width: 138px;
  height: 1px;

  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 9px;
    left: 110px;

    width: 499px;
    height: 1px;

    background-color: $bg-grey;
  }
}

.travelmate-countries {
  padding-left: 0;
  margin-left: 41px;
  margin-top: 11px;
  margin-bottom: 13px;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: flex;

    top: 285px;
    left: 80px;

    margin: 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 50px;
    left: 725px;
    width: 130px;
    flex-wrap: wrap;
  }
}

.travelmate-countries__item {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-right: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.sri-lanka-firsova {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.sri-lanka-firsova::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/sri-lanka-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/sri-lanka-firsova-tablet.png");
  }
}

.thailand-firsova {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.thailand-firsova::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/thailand-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/thailand-firsova-tablet.png");
  }
}

.seychelles-firsova::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/seychelles-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/seychelles-firsova-tablet.png");
  }
}

.belgium-demin {
  margin-top: 15px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-right: 75px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.belgium-demin::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/belgium-demin-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/belgium-demin-tablet.png");
  }
}

.czech-demin {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.czech-demin::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/czech-demin-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/czech-demin-tablet.png");
  }
}

.america-smolov {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.america-smolov::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/america-smolov-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/america-smolov-tablet.png");
  }
}

.australia-smolov {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.australia-smolov::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/australia-smolov-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 0;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/australia-smolov-tablet.png");
  }
}

@media (min-width: $tablet-width) {
  .dominica-smolov {
    margin-right: 0;
  }
}

.dominica-smolov::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/dominica-smolov-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 0;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/dominica-smolov-tablet.png");
  }
}

.united-kindom-rogovaya {
  margin-top: 13px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.united-kindom-rogovaya::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/united-kindom-rogovaya-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/united-kindom-rogovaya-tablet.png");
  }
}

.germany-rogovaya {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.germany-rogovaya::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/germany-rogovaya-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/germany-rogovaya-tablet.png");
  }
}

.travelmate-transport__headline {
  position: relative;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.travelmate-transport__headline::before {
  content: "";
  position: absolute;

  top: 10px;
  left: -25px;

  width: 14px;
  height: 1px;

  background-color: $bg-grey;
}

.travelmate-transport__headline::after {
  content: "";
  position: absolute;

  top: 10px;
  left: 80px;

  width: 91px;
  height: 1px;

  background-color: $bg-grey;
}

.travelmate__transport-list {
  display: flex;
  width: 130px;
  height: 32px;

  margin-top: 10px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;

    width: 30px;
    height: 120px;

    top: 27px;
    left: 615px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 120px;
    top: 200px;
    left: 680px;
  }
}

.travelmate__transport-item {
  position: relative;
  width: 32px;
  height: 32px;

  text-align: center;
  border-radius: 50%;
  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
    background-color: $color-white;
  }
}

.travelmate__transport-item button {
  display: block;
  width: 32px;
  height: 32px;

  border: none;
  padding: 0;
  border-radius: 50%;

  background-position: 8px 7px;
  background-size: 14px 16px;
  background-repeat: no-repeat;
  background-image: url("../img/plane-mobile.png");

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;

    background-color: $color-white;
    background-position: 4px 5px;
    background-size: 19px 21px;
    background-image: url("../img/plane.png");
  }
}

.travelmate__transport-item:hover::after {
  position: absolute;
  content: "Авиаперелёт";
  padding-top: 25px;

  width: 147px;
  height: 65px;

  top: 27px;
  left: -57px;

  z-index: 1;
  font-size: 20px;
  color: $color-white;
  background-image: url("../img/plane-index-icon-hvr.png");

  @media (min-width: $tablet-width) {
    top: 30px;
    left: -60px;
  }
}

.travelmate__transport-item:nth-child(2) button {
  opacity: 0.15;
  background-position: 10px 7px;
  background-size: 13px 16px;
  background-image: url("../img/bus-black-mobile.png");

  @media (min-width: $tablet-width) {
    background-position: 6px 7px;
    background-size: 17px 21px;
    background-image: url("../img/bus-black.png");
  }
}

.travelmate:nth-child(even) .travelmate__transport-item:nth-child(2) button {
  opacity: 1;
  background-image: url("../img/bus-mobile.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/bus.png");
  }
}

.travelmate__transport-item:nth-child(2):hover::after {
  content: "Автотранспорт";
  width: 171px;
  left: -70px;
  background-image: url("../img/bus-index-icon-hvr.png");

  @media (min-width: $tablet-width) {
    top: 32px;
    left: -71px;
  }
}

.travelmate__transport-item:nth-child(3) button {
  opacity: 0.15;
  background-position: 7px 7px;
  background-size: 19px 17px;
  background-image: url("../img/bike-black-mobile.png");

  @media (min-width: $tablet-width) {
    background-position: 3px 5px;
    background-size: 24px 21px;
    background-image: url("../img/bike-black.png");
  }
}

.travelmate:nth-child(3) .travelmate__transport-item:nth-child(3) button {
  opacity: 1;
  background-image: url("../img/bike-mobile.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/bike.png");
  }
}

.travelmate__transport-item:nth-child(3):hover::after {
  content: "Велосипед";
  width: 131px;
  left: -50px;
  background-image: url("../img/bike-index-icon-hvr.png");
}

.travelmate__transport-item:last-of-type button {
  opacity: 0.15;
  background-position: 8px 7px;
  background-size: 15px 17px;
  background-image: url("../img/run-black-mobile.png");

  @media (min-width: $tablet-width) {
    background-position: 3px 5px;
    background-size: 20px 21px;
    background-image: url("../img/run-black.png");
  }
}

.travelmate:nth-child(2) .travelmate__transport-item:last-of-type button {
  opacity: 1;
  background-image: url("../img/run-mobile.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/run.png");
  }
}

.travelmate__transport-item:last-child:hover::after {
  content: "Пешком";
  width: 109px;
  left: -38px;
  background-image: url("../img/run-index-icon-hvr.png");
}

.long-level {
  position: absolute;
  width: 45px;
  height: 55px;

  left: 182px;
  top: -74px;

  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    top: -105px;
    left: 575px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 856px;
  }
}

.short-level {
  position: absolute;
  width: 45px;
  height: 55px;

  left: 182px;
  top: -76px;

  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    top: -107px;
    left: 567px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 846px;
  }
}

.level-headline {
  font-size: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    color: $color-white;
  }

  @media (min-width: $desktop-width) {
    font-size: 0;
  }
}

.level-headline::before {
  position: absolute;
  content: "";

  width: 45px;
  height: 45px;

  top: 20px;
  left: -3px;

  background-image: url("../img/99-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;

    top: -5px;
    left: -8px;

    background-image: url("../img/99-firsova-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: -102px;
    left: -10px;
  }
}

.level-headline::after {
  position: absolute;
  content: "";

  width: 11px;
  height: 1px;

  top: 11px;
  left: 52px;

  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.travelmate:nth-of-type(2) .level-headline::before {
  background-image: url("../img/80-demin-mobile.png");

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;
    background-image: url("../img/80-demin-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: -23px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: -127px;
    left: 1px;
  }
}

.travelmate:nth-of-type(3) .level-headline::before {
  width: 35px;
  height: 32px;

  top: 20px;
  left: 3px;

  background-image: url("../img/25-smolov-mobile.png");

  @media (min-width: $tablet-width) {
    width: 46px;
    height: 51px;

    top: 0;
    left: 0;

    background-image: url("../img/25-smolov-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: -100px;
    left: 6px;
  }
}

.travelmate:last-of-type .level-headline::before {
  width: 35px;
  height: 45px;

  top: 20px;
  left: 5px;

  background-image: url("../img/50-rogovaya-mobile.png");

  @media (min-width: $tablet-width) {
    width: 46px;
    height: 60px;

    top: -6px;
    left: 10px;

    background-image: url("../img/50-rogovaya-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: -102px;
    left: 16px;
  }
}

.travelmate__button {
  position: absolute;
  display: block;

  width: 230px;
  height: 40px;

  top: 360px;
  left: 20px;

  padding-top: 10px;
  font-size: 17px;
  text-align: center;
  border-radius: 20px;
  background-color: $bg-yellow-d7;

  @media (min-width: $tablet-width) {
    width: 148px;
    height: 50px;
    top: 175px;
    left: 255px;
    margin-top: 0;
    padding-top: 13px;

    font-size: 20px;
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 190px;
    left: 345px;
  }
}

.travelmate__button-short {
  position: absolute;
  display: block;
  width: 230px;
  height: 40px;
  top: 335px;
  left: 20px;
  padding-top: 10px;

  text-align: center;
  font-size: 17px;
  background-color: $bg-yellow-d7;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 148px;
    height: 50px;
    top: 175px;
    left: 255px;
    margin-top: 0;
    padding-top: 13px;

    font-size: 20px;
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 190px;
    left: 345px;
  }
}
