.travelmates {
  width: 270px;
  height: 1320px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 75px;

  color: $color-white;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 320px 405px;
}

.travelmates__headline {
  margin-top: 0;
  margin-bottom: 25px;
}

.travelmates__description {
  margin-top: 0;
  margin-bottom: 30px;
  padding-right: 50px;
}

.travelmates-list {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
}

.travelmates-list__item {
  display: block;
  position: relative;
  height: 427px;
  margin-bottom: 10px;
}

.travelmate__image {
  border-radius: 10px 10px 0 0;
}

.travelmate__specification {
  width: 100%;
  height: 157px;
  margin-top: -5px;
  padding-top: 30px;

  border-radius: 0 0 10px 10px;
  text-align: center;
  background-color: $color-white;
}

.firsova-headline {
  position: relative;
  color: $bg-blue;
}

.firsova-headline::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;

  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: $bg-pink;
}

.demin-headline {
  position: relative;
  color: $bg-blue;
}

.demin-headline::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;

  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: $bg-brightgreen;
}

.hashtag-list {
  display: flex;
  flex-wrap: wrap;

  width: 210px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0px;

  color: $color-black;
}

.travelmates-list__item:last-child .hashtag-list {
  margin-left: 50px;
}

.hashtag-list__item {
  margin-right: 7px;
}

.hashtag-margin1 {
  margin-left: 40px;
}

.hashtag-margin2 {
  margin-left: 20px;
}

.travelmate-traffic {
  width: 125px;
  display: flex;
  padding: 0;
  color: $bg-blue;
}

.travelmate-traffic__item:not(:nth-child(4)) {
  margin-right: 15px;
}

.travelmates__button {
  position: relative;
  display: block;

  width: 270px;
  height: 62px;

  padding-left: 25px;
  padding-top: 20px;

  border-radius: 10px;
  color: $bg-blue;
  background-color: $bg-yellow-d7;
}

.travelmates__button::after {
  content: "";
  position: absolute;

  top: 24px;
  left: 225px;

  width: 10px;
  height: 14px;

  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat;
}
