.travelmates {
  height: 1320px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 75px;

  color: $color-white;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 320px 405px;

  @media (min-width: $tablet-width) {
    height: 1166px;
    margin-right: 75px;
    margin-left: 0;
    padding-left: 75px;
    padding-top: 150px;

    background-image: url("../img/travelmate-back-tablet.png");
    background-repeat: no-repeat;
    background-position: 40px 80px;
    background-size: 653px 489px;
  }
}

.travelmates__headline {
  margin-top: 0;
  margin-bottom: 25px;
  color: $bg-orange;
  font-size: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    font-size: 45px;
  }
}

.travelmates__description {
  margin-top: 0;
  margin-bottom: 30px;
  padding-right: 50px;

  @media (min-width: $tablet-width) {
    width: 485px;
    margin-bottom: 55px;
  }
}

.travelmates__kick {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    width: 260px;
    font-size: 21px;
  }
}

.travelmates-list {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 487px;
    display: flex;
    margin-top: 65px;
    margin-bottom: 37px;
  }
}

.travelmates-list__item {
  display: block;
  position: relative;
  height: 427px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 48px;
  }
}

.travelmate__image {
  width: 270px;
  height: 270px;
  border-radius: 15px 15px 0 0;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
  }
}

.travelmate__specification {
  width: 100%;
  height: 157px;
  margin-top: -5px;
  padding-top: 30px;

  border-radius: 0 0 15px 15px;
  text-align: center;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 198px;
    margin-top: -7px;
    padding-top: 32px;
  }
}

.firsova-headline {
  position: relative;
  color: $bg-blue;
  font-size: 21px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.firsova-headline::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;

  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: $bg-pink;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;

    width: 7px;
    height: 7px;
    border-radius: 50%;

    background-color: $bg-pink;
  }
}

.demin-headline {
  position: relative;
  color: $bg-blue;
  font-size: 21px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.demin-headline::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;

  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: $bg-brightgreen;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;

    width: 7px;
    height: 7px;
    border-radius: 50%;

    background-color: $bg-brightgreen;
  }
}

.hashtag-list {
  display: flex;
  flex-wrap: wrap;

  width: 210px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0;

  color: $color-black;

  @media (min-width: $tablet-width) {
    width: 285px;
    text-align: center;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 25px;
  }
}

.travelmates-list__item:last-child .hashtag-list {
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-left: 40px;
  }
}

.hashtag-list__item {
  margin-right: 7px;
}

.hashtag-margin1 {
  margin-left: 40px;
}

.hashtag-margin2 {
  margin-left: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}

.travelmate-traffic {
  width: 125px;
  display: flex;
  padding: 0;
  color: $bg-blue;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.travelmate-traffic__item:not(:nth-child(4)) {
  margin-right: 15px;
}

.travelmates__button {
  position: relative;
  display: block;
  font-size: 18px;

  width: 270px;
  height: 62px;

  padding-left: 25px;
  padding-top: 20px;

  border-radius: 10px;
  color: $bg-blue;
  background-color: $bg-yellow-d7;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    font-size: 24px;

    width: 618px;
    height: 81px;

    padding-left: 35px;
    padding-top: 25px;

    border-radius: 15px;
    color: $bg-blue;
    background-color: $bg-yellow-d7;
  }
}

.travelmates__button::after {
  content: "";
  position: absolute;

  top: 24px;
  left: 225px;

  width: 10px;
  height: 14px;

  background-image: url("../img/countries-right.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 32px;
    left: 580px;

    width: 10px;
    height: 14px;

    background-image: url("../img/countries-right.png");
    background-repeat: no-repeat;
  }
}
