@media (min-width: $desktop-width) {
  .catalog__travelmates-filter {
    display: flex;
    justify-content: space-between;

    width: 1319px;
    margin: 0 auto;
    margin-top: 77px;
    padding: 0;
  }
}

.travelmates-catalog {
  width: 270px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 688px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 949px;
    margin-bottom: 65px;
  }
}

.travelmate {
  position: relative;
  width: 100%;
  height: 415px;
  margin-bottom: 10px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 22px;

  border-radius: 15px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    height: 332px;
    margin-bottom: 40px;

    padding-left: 35px;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 25px;

    border-radius: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 950px;
    height: 285px;
    padding: 0;
    margin-bottom: 30px;
  }
}

.travelmate-short {
  height: 393px;

  @media (min-width: $tablet-width) {
    height: 332px;
  }

  @media (min-width: $desktop-width) {
    height: 285px;
  }
}

.travelmate__image {
  position: relative;
}

.travelmate__image img {
  width: 70px;
  height: 70px;

  border-radius: 50%;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 10%;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    border-radius: 10px 0 0 10px;
    margin-left: 0;
  }
}

.travelmate__image::before {
  content: "";
  position: absolute;

  top: -16px;
  left: 45px;

  width: 31px;
  height: 31px;

  background-image: url("../img/heart-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -24px;
    left: 368px;

    width: 50px;
    height: 50px;

    background-image: url("../img/heart-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: -72px;
    left: 490px;
  }
}

.travelmate__image-firsova::before {
  content: "";
  position: absolute;

  top: -16px;
  left: 45px;

  width: 31px;
  height: 31px;

  background-image: url("../img/heart-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -25px;
    left: 368px;

    width: 50px;
    height: 50px;

    background-image: url("../img/heart-firsova-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: -72px;
    left: 490px;
  }
}

.travelmate__image::after {
  content: "";
  position: absolute;

  top: -45px;
  left: 218px;

  width: 6px;
  height: 6px;

  background-color: $bg-pink;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: -154px;
    left: 420px;
  }

  @media (min-width: $desktop-width) {
    top: -200px;
    left: 322px;
  }
}

.travelmate__image-rogovaya::after {
  content: "";
  position: absolute;

  top: -45px;
  left: 218px;

  width: 6px;
  height: 6px;

  background-color: $bg-brightgreen;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: -152px;
    left: 450px;
  }

  @media (min-width: $desktop-width) {
    top: -200px;
    left: 322px;
  }
}

.travelmate__headline {
  position: absolute;
  width: 80px;
  flex-wrap: wrap;
  left: 110px;
  top: 15px;
  font-size: 20px;
  color: $bg-blue;
  margin: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 215px;
    flex-wrap: no-wrap;
    top: 30px;
    left: 253px;
    font-size: 30px;
    color: $bg-blue;
  }

  @media (min-width: $desktop-width) {
    top: 45px;
    left: 345px;
  }
}

.travelmate__likes {
  position: absolute;
  top: 64px;
  left: 110px;
  color: $bg-darkblue1635;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 190px;
    left: 460px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 201px;
    left: 550px;
  }
}

.hashtag-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  color: $bg-darkgrey;

  @media (min-width: $tablet-width) {
    width: 225px;
    font-size: 20px;
    margin-top: -150px;
    margin-left: 220px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: -195px;
    margin-left: 350px;
  }
}

@media (min-width: $desktop-width) {
  .hashtag-list::after {
    content: "";
    position: absolute;

    top: -49px;
    left: 284px;

    width: 1px;
    height: 189px;

    background-color: $bg-grey;
  }
}

.travelmate-countries__headline {
  position: relative;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 125px;
    margin-left: 45px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.travelmate-countries__headline::before {
  content: "";
  position: absolute;

  top: 10px;
  left: -25px;

  width: 14px;
  height: 1px;

  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 9px;
    left: -80px;

    width: 71px;
    height: 1px;

    background-color: $bg-grey;
  }
}

.travelmate-countries__headline::after {
  content: "";
  position: absolute;

  top: 10px;
  left: 115px;

  width: 138px;
  height: 1px;

  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 9px;
    left: 110px;

    width: 499px;
    height: 1px;

    background-color: $bg-grey;
  }
}

.travelmate-countries {
  padding-left: 0;
  margin-left: 41px;
  margin-top: 11px;
  margin-bottom: 13px;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 45px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 730px;
    margin-top: -100px;
    width: 130px;
    flex-wrap: wrap;
  }
}

.travelmate-countries__item {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-right: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.sri-lanka-firsova {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.sri-lanka-firsova::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/sri-lanka-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/sri-lanka-firsova-tablet.png");
  }
}

.thailand-firsova {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.thailand-firsova::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/thailand-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/thailand-firsova-tablet.png");
  }
}

.seychelles-firsova::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/seychelles-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/seychelles-firsova-tablet.png");
  }
}

.belgium-demin {
  margin-top: 15px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-right: 75px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.belgium-demin::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/belgium-demin-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/belgium-demin-tablet.png");
  }
}

.czech-demin {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.czech-demin::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/czech-demin-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/czech-demin-tablet.png");
  }
}

.america-smolov {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.america-smolov::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/america-smolov-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/america-smolov-tablet.png");
  }
}

.australia-smolov {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.australia-smolov::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/australia-smolov-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 0px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/australia-smolov-tablet.png");
  }
}

@media (min-width: $tablet-width) {
  .dominica-smolov {
    margin-right: 0;
  }
}

.dominica-smolov::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/dominica-smolov-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 0;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/dominica-smolov-tablet.png");
  }
}

.united-kindom-rogovaya {
  margin-top: 13px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.united-kindom-rogovaya::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/united-kindom-rogovaya-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/united-kindom-rogovaya-tablet.png");
  }
}

.germany-rogovaya {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.germany-rogovaya::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/germany-rogovaya-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -2px;
    left: -45px;

    width: 35px;
    height: 24px;

    background-image: url("../img/germany-rogovaya-tablet.png");
  }
}

.travelmate-transport__headline {
  position: relative;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.travelmate-transport__headline::before {
  content: "";
  position: absolute;

  top: 10px;
  left: -25px;

  width: 14px;
  height: 1px;

  background-color: $bg-grey;
}

.travelmate-transport__headline::after {
  content: "";
  position: absolute;

  top: 10px;
  left: 80px;

  width: 91px;
  height: 1px;

  background-color: $bg-grey;
}

.travelmate-transport {
  margin-top: 10px;
  display: flex;
  padding-left: 0;
  width: 130px;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    width: 35px;
    margin: 0;
    top: 27px;
    left: 615px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 130px;
    top: 188px;
    left: 675px;
  }
}

.travelmate-transport__item {
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 5px;

  border-radius: 50%;
  background-color: #edeff6;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    background-color: $color-white;
  }
}

.long-level {
  position: absolute;
  width: 45px;
  height: 55px;

  left: 182px;
  top: -74px;

  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    left: 580px;
    top: -150px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    left: 856px;
  }
}

.short-level {
  position: absolute;
  width: 45px;
  height: 55px;

  left: 182px;
  top: -76px;

  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    left: 568px;
    top: -150px;
  }

  @media (min-width: $desktop-width) {
    top: 71px;
    left: 846px;
  }
}

.level-headline-99 {
  font-size: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    color: $color-white;
  }
}

.level-headline-99::before {
  content: "";
  position: absolute;

  top: 20px;
  left: -3px;

  width: 45px;
  height: 45px;

  background-image: url("../img/99-firsova-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -5px;
    left: -8px;

    width: 60px;
    height: 60px;

    background-image: url("../img/99-firsova-tablet.png");
  }
}

.level-headline-99::after {
  content: "";
  position: absolute;

  top: 11px;
  left: 52px;

  width: 11px;
  height: 1px;

  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.level-headline-80 {
  font-size: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    color: $color-white;
  }
}

.level-headline-80::before {
  content: "";
  position: absolute;

  top: 20px;
  left: -3px;

  width: 45px;
  height: 45px;

  background-image: url("../img/80-demin-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-image: url("../img/80-demin-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: -23px;
    left: 0;
  }
}

.level-headline-80::after {
  content: "";
  position: absolute;

  top: 11px;
  left: 52px;

  width: 11px;
  height: 1px;

  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.level-headline-25 {
  font-size: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    color: $color-white;
  }
}

.level-headline-25::before {
  content: "";
  position: absolute;

  top: 20px;
  left: 3px;

  width: 35px;
  height: 32px;

  background-image: url("../img/25-smolov-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: 0;
    left: 0px;

    width: 46px;
    height: 51px;

    background-image: url("../img/25-smolov-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: -5px;
    left: 0;
  }
}

.level-headline-25::after {
  content: "";
  position: absolute;

  top: 11px;
  left: 52px;

  width: 11px;
  height: 1px;

  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.level-headline-50 {
  font-size: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    color: $color-white;
  }
}

.level-headline-50::before {
  content: "";
  position: absolute;

  top: 20px;
  left: 5px;

  width: 35px;
  height: 45px;

  background-image: url("../img/50-rogovaya-mobile.png");

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    top: -6px;
    left: 10px;

    width: 46px;
    height: 60px;

    background-image: url("../img/50-rogovaya-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: -23px;
    left: 13px;
  }
}

.level-headline-50::after {
  content: "";
  position: absolute;

  top: 11px;
  left: 52px;

  width: 11px;
  height: 1px;

  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.travelmate__button {
  position: absolute;
  display: block;
  width: 230px;
  height: 40px;
  top: 360px;
  left: 20px;
  padding-top: 10px;

  text-align: center;
  font-size: 17px;
  background-color: $bg-yellow-d7;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 148px;
    height: 50px;
    top: 175px;
    left: 255px;
    margin-top: 0;
    padding-top: 13px;

    font-size: 20px;
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 188px;
    left: 341px;
  }
}

.travelmate__button-short {
  position: absolute;
  display: block;
  width: 230px;
  height: 40px;
  top: 335px;
  left: 20px;
  padding-top: 10px;

  text-align: center;
  font-size: 17px;
  background-color: $bg-yellow-d7;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 148px;
    height: 50px;
    top: 175px;
    left: 255px;
    margin-top: 0;
    padding-top: 13px;

    font-size: 20px;
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 188px;
    left: 341px;
  }
}
