.travelmates-catalog {
  width: 270px;
  // height: 1649px;
  margin: 0 auto;
  margin-top: 100px;

  @media (min-width: $tablet-width) {
    width: 670px;
  }
}

.travelmate {
  position: relative;
  width: 100%;
  height: 415px;
  margin-bottom: 10px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 22px;

  border-radius: 15px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    height: 332px;
    margin-bottom: 10px;

    padding-left: 35px;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 25px;

    border-radius: 15px;
    background-color: $color-white;  
  }
}

.travelmate-short {
  height: 393px;
}

.travelmate__image {
  position: relative;
}

.travelmate__image img {
  width: 70px;
  height: 70px;

  border-radius: 50%;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 10%;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    border-radius: 10px 0 0 10px;
    margin-left: 0;
  }
}

.travelmate__image::before {
  content: "";
  position: absolute;

  top: -16px;
  left: 45px;

  width: 31px;
  height: 31px;

  background-image: url("../img/heart-mobile.png");
}

.travelmate__image-firsova::before {
  content: "";
  position: absolute;

  top: -16px;
  left: 45px;

  width: 31px;
  height: 31px;

  background-image: url("../img/heart.png");
}

.travelmate__image::after {
  content: "";
  position: absolute;

  top: -45px;
  left: 218px;

  width: 6px;
  height: 6px;

  background-color: $bg-pink;
  border-radius: 50%;
}

.travelmate__image-rogovaya::after {
  content: "";
  position: absolute;

  top: -45px;
  left: 218px;

  width: 6px;
  height: 6px;

  background-color: $bg-brightgreen;
  border-radius: 50%;
}

.travelmate__headline {
  position: absolute;
  width: 80px;
  flex-wrap: wrap;
  left: 110px;
  top: -5px;
  font-size: 20px;
  color: $bg-blue;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 200px;
    flex-wrap: no-wrap;
    left: 250px;
    top: 0px;
    font-size: 30px;
    color: $bg-blue;  
  }
}

.travelmate__likes {
  position: absolute;
  top: 64px;
  left: 110px;
  color: $bg-darkblue1635;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 200px;
    left: 460px;
    color: $bg-darkblue1635;
    font-size: 20px;
  }
}

.travelmate-description {
  padding: 0;
  margin: 0;
}

.hashtag-list {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $bg-darkgrey;
}

.travelmate-countries__headline {
  position: relative;
  font-size: 15px;
}

.travelmate-countries__headline::before {
  content: "";
  position: absolute;

  top: 10px;
  left: -25px;

  width: 14px;
  height: 1px;

  background-color: $bg-grey;
}

.travelmate-countries__headline::after {
  content: "";
  position: absolute;

  top: 10px;
  left: 115px;

  width: 138px;
  height: 1px;

  background-color: $bg-grey;
}

.travelmate-countries {
  padding-left: 0;
  margin-left: 41px;
  margin-top: 11px;
  margin-bottom: 13px;
  font-size: 15px;
}

.travelmate-countries__item {
  position: relative;
}

.sri-lanka-firsova {
  margin-bottom: 15px;
}

.sri-lanka-firsova::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/sri-lanka-firsova.png");
}

.thailand-firsova {
  margin-bottom: 15px;
}

.thailand-firsova::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/thailand-firsova.png");
}

.seychelles-firsova::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/seychelles-firsova.png");
}

.belgium-demin {
  margin-top: 15px;
  margin-bottom: 21px;
}

.belgium-demin::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/belgium-demin.png");
}

.czech-demin {
  margin-bottom: 15px;
}

.czech-demin::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/czech-demin.png");
}

.america-smolov {
  margin-bottom: 16px;
}

.america-smolov::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/america-smolov.png");
}

.australia-smolov {
  margin-bottom: 15px;
}

.australia-smolov::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/australia-smolov.png");
}

.dominica-smolov::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/dominica-smolov.png");
}

.united-kindom-rogovaya {
  margin-top: 13px;
  margin-bottom: 20px;
}

.united-kindom-rogovaya::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/united-kindom-rogovaya.png");
}

.germany-rogovaya {
  margin-bottom: 18px;
}

.germany-rogovaya::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 26px;
  height: 18px;

  background-image: url("../img/germany-rogovaya.png");
}

.travelmate-transport__headline {
  position: relative;
  font-size: 15px;
}

.travelmate-transport__headline::before {
  content: "";
  position: absolute;

  top: 10px;
  left: -25px;

  width: 14px;
  height: 1px;

  background-color: $bg-grey;
}

.travelmate-transport__headline::after {
  content: "";
  position: absolute;

  top: 10px;
  left: 80px;

  width: 91px;
  height: 1px;

  background-color: $bg-grey;
}

.travelmate-description__item:nth-child(3) {
  width: 130px;
}

.travelmate-transport {
  margin-top: 10px;
  display: flex;
  padding-left: 0;
  width: 130px;
}

.travelmate-transport__item {
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 5px;

  border-radius: 50%;
  background-color: #edeff6;
}

.long-level {
  position: absolute;
  width: 45px;
  height: 55px;

  left: 207px;
  top: 270px;

  flex-wrap: wrap;
}

.short-level {
  position: absolute;
  width: 45px;
  height: 55px;

  left: 207px;
  top: 250px;

  flex-wrap: wrap;
}

.level-headline-99 {
  font-size: 15px;
  position: relative;
}

.level-headline-99::before {
  content: "";
  position: absolute;

  top: 20px;
  left: -3px;

  width: 45px;
  height: 45px;

  background-image: url("../img/99-firsova.png");
}

.level-headline-99::after {
  content: "";
  position: absolute;

  top: 11px;
  left: 52px;

  width: 11px;
  height: 1px;

  background-color: $bg-grey;
}

.level-headline-80 {
  font-size: 15px;
  position: relative;
}

.level-headline-80::before {
  content: "";
  position: absolute;

  top: 20px;
  left: -3px;

  width: 45px;
  height: 45px;

  background-image: url("../img/80-demin.png");
}

.level-headline-80::after {
  content: "";
  position: absolute;

  top: 11px;
  left: 52px;

  width: 11px;
  height: 1px;

  background-color: $bg-grey;
}

.level-headline-25 {
  font-size: 15px;
  position: relative;
}

.level-headline-25::before {
  content: "";
  position: absolute;

  top: 20px;
  left: 3px;

  width: 35px;
  height: 32px;

  background-image: url("../img/25-smolov.png");
}

.level-headline-25::after {
  content: "";
  position: absolute;

  top: 11px;
  left: 52px;

  width: 11px;
  height: 1px;

  background-color: $bg-grey;
}

.level-headline-50 {
  font-size: 15px;
  position: relative;
}

.level-headline-50::before {
  content: "";
  position: absolute;

  top: 20px;
  left: 5px;

  width: 35px;
  height: 45px;

  background-image: url("../img/50-rogovaya.png");
}

.level-headline-50::after {
  content: "";
  position: absolute;

  top: 11px;
  left: 52px;

  width: 11px;
  height: 1px;

  background-color: $bg-grey;
}

.travelmate__button {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-top: 10px;

  text-align: center;
  font-size: 17px;
  background-color: $bg-yellow-d7;
  border-radius: 20px;
}
