$color-white: #ffffff;
$color-black: #000000;
$color-orange: #ff8d30;
$color-red: #ff5c23;
$color-pink: #f47e7e;
$color-yellow: #f0cb4b;
$color-yellow-2b: #f3c72b;
$color-yellow3d: #bb923d;
$color-yellow-af: #caaf4f;
$color-yellow-2e: #b0932e;
$color-lightgrey: #c7c7c7;
$color-grey: #98999d;

$bg-darkblue16: #161c36;
$bg-darkblue14: #141b3b;
$bg-darkblue19: #192144;
$bg-darkblue1635: #161c35;
$bg-darkblue1634: #161c34;
$bg-darkblue-12: #121936;
$bg-blue: #1d2e5b;
$bg-blue-18: #182044;
$bg-blue-41: #101d41;


$bg-lightgrey-f2: #f2f2f2;
$bg-lightgrey: #d6d9e6;
$bg-lightgrey-f8: #f3f4f8;
$bg-grey: #edeff6;
$bg-grey-f2: #e2e5f2;
$bg-grey-ed: #e5e7ed;
$bg-grey-e8: #c8cee8;
$bg-grey-c7: #aeb5c7;
$bg-grey-cf: #babecf;
$bg-grey-8a: #696f8a;
$bg-grey-bd: #a5aabd;
$bg-grey-8b: #88888b;
$bg-grey-aed: #d6daed;
$bg-grey-ebd: #949ebd;
$bg-greyd9: #cbced9;
$bg-greyf0: #dfe3f0;
$bg-greyf4: #eff0f4;
$bg-greyb2: #b2b2b2;
$bg-greycc: #bbbfcc;
$bg-grey-cc: #cccccc;
$bg-grey-8f: #8f8f8f;
$bg-greycd: #bbc0cd;
$bg-greybe: #9ba4be;
$bg-greydd: #d5d7dd;
$bg-grey76: #767676;
$bg-greydb: #ced1db;
$bg-greyeb: #d4d9eb;
$bg-grey5eb: #e3e5eb;
$bg-grey5f1: #e2e5f1;
$bg-greybb2: #959bb2;
$bg-greye9: #d1d7e9;
$bg-greycb: #aeb4cb;
$bg-grey62: #5f6062;
$bg-darkgrey: #444444;

$bg-yellow-d7: #ffd74b;
$bg-yellow-bd: #ffbd30;
$bg-yellow-32: #b98c32;
$bg-lightorange: #ffa530;
$bg-orange: #ff8d30;
$bg-darkorange: #f26926;
$bg-pink: #f97676;
$bg-brightgreen: #81e31e;

$tablet-width: 768px;
$desktop-width: 1440px;
