$color-white: #ffffff;
$color-black: #000000;
$color-orange: #ff8d30;
$color-yellow: #f0cb4b;
$color-lightgrey: #c7c7c7;
$color-grey: #98999d;

$bg-darkblue16: #161c36;
$bg-darkblue14: #141b3b;
$bg-darkblue19: #192144;
$bg-darkblue1635: #161c35;
$bg-darkblue-12: #121936;
$bg-blue: #1d2e5b;

$bg-grey: #edeff6;
$bg-darkgrey: #444444;
$bg-yellow-d7: #ffd74b;
$bg-yellow-bd: #ffbd30;
$bg-lightorange: #ffa530;
$bg-orange: #ff8d30;
$bg-darkorange: #f26926;
$bg-pink: #f97676;
$bg-brightgreen: #81e31e;

$tablet-width: 768px;
$desktop-width: 1440px;
